ul.jqtree-tree .jqtree-title {
    /* float: left; */
    width: 25em;
}
ul.jqtree-tree .jqtree-element {
    display: flex;
    overflow: auto; /* horizontal scrollbar in element node too big */
}
/* ul.jqtree-tree ul.jqtree_common */
ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    /* background: linear-gradient(#ffffff, #bbbbbb) repeat scroll 0 0; */
    /* background: rgba(0, 0, 0, 0.1); */
    /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); */
    /* text-shadow: none; */
    background: rgba(0, 0, 0, 0.05);
    text-shadow: none;
    border: 1px solid #000000;
}

/* '>' to avoid inheritance of list sym folder css to sym elements inside */
span.inspector.valChar {
    color: blue;
    width: 2.5em;
    text-align: center;
}
.inspector.folder > div span.inspector.valChar {
    font-weight: bold;
}
.inspector .val {
    color: black;
    width: 100%;
    /* display: inline-block; */
}
.inspector.lambda > div span.val {
    color: DarkTurquoise;
}
.inspector.macro > div span.val {
    color: DarkOrange;
}
.inspector.string .val {
    color: green;
}
.inspector.context .val {
    color: black;
    font-weight: bold;
}
.inspector.dynsym.dynsym_no-target_resolve .title {
    color: red;
}

/*
div {
  word-break: break-all;  too much
  word-wrap: break-word;
}
*/
#div_treeHelp {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items:center;
}
#div_treeHelp table {
    text-align: center;
    padding: 1em;
    border-spacing: 1em 0.5em;
}
#div_treeHelp div { /* same for sub divs */
    display: flex;
    flex-direction: column;
    align-items:center;
}
#div_treeHelp table th {
    border: thin solid;
}
#div_treeHelp td.URL {
    text-align:left;
}

span.command_snippet {
    font-family: monospace;
}
span.code_snippet {
    font-weight: bold;
}

span.is_non-UTF-8 {
    color: red;
    font-weight: bold;
}
span.is_symProps {
    font-weight: bold;
}

/*
 * index.html
 */
#body_overview {
    background-color: #f5f5f5;
}
#body_overview table {
    border: 2px solid;
    border-collapse: collapse;
}
#body_overview table tr, #body_overview table td, #body_overview table th {
    border: 1px solid;
    padding: 0.5em;
}

/* text BG in remote windows
 * - transparent color for keeping selections - in a layer behind - visible
 */
#wrapper_remote_console.showTextBG .CodeMirror span:not(.promptSingle) {
  background-color: rgba(220,220,220,0.5);
}
#wrapper_remote_stderr.showTextBG .CodeMirror span {
  background-color: rgba(220,220,220,0.5);
}
/* EOF */
